/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Gwendolyn:wght@400;700&family=Rubik+Wet+Paint&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Rubik+Wet+Paint&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* LOGO */
header {
  color: #dbdff0;
}

/* Alinha em colunas */
.Conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap; /* Permitir quebra de linha para elementos */
}
/* HEADER */
header div img {
  width: 15rem;
  max-width: 100%; /* Limitar largura máxima para dispositivos menores */
  height: auto;
}

header div {
  background-color: #0c0c0c;
  padding: 10px;
  flex: 1;
}

/* Título e Parágrafo */
header div h1 {
  font-family: "Gwendolyn", cursive;
  font-weight: 400;
  font-size: 4rem; /* Reduzido para melhor visualização em telas menores */
}

header div p {
  font-weight: 400;
  font-family: "Cabin", sans-serif;
  font-size: 1rem; /* Tamanho ajustado para mobile */
  font-style: italic;
}

/* NAV E LIST */
/* Menu */
.TopoPag {
  display: flex;
  gap: 20px;
}

.TopoPag li {
  list-style: none;
}

.TopoPag a {
  color: #dbdff0;
  text-decoration: none;
  transition: color 8ms;
}

a:hover {
  color: #c670d1;
}

/* Media Query para dispositivos móveis */
@media (max-width: 600px) {
  .Conteiner {
    flex-direction: column; /* Mudar para coluna em telas menores */
    align-items: center;
    text-align: center;
  }

  /* Ajuste da imagem do logo */
  header div img {
    width: 10rem; /* Diminuir o tamanho do logo em telas pequenas */
  }

  /* Ajuste do título */
  header div h1 {
    font-size: 2.5rem; /* Reduzir tamanho do título */
  }

  /* Ajuste do menu */
  .TopoPag {
    flex-direction: column; /* Menu em coluna para melhor visualização */
    gap: 10px;
  }
}

/* MAIN */

main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 400;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  background-color: #f9d9ef;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* INPUTS / BOTOES */
button,
input {
  border-radius: 5px;
  border: 2px solid #d5b6e5;
  padding: 5px;
  font-family: "Cabin", sans-serif;
  outline: none;
}

input {
  width: 45%;
}
button {
  cursor: pointer;
  background-color: #d5b6e5;
}

/* FOOTER */
FOOTER {
  padding: 2rem;
  text-align: center;
  background-color: #0c0c0c;
  color: #dbdff0;
}

.H2prod {
  text-align: center;
  padding-top: 4rem;
}
